<h1>hi world from index view</h1>

<form action="cars" method="get" accept-charset="utf-8">
  <label for="car_serial_number_pattern">Serial Number:</label>
  
  <% if @cars.length > 0 %>
	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" value="">
  <% elsif params[:serial_number_pattern].length > 0 %>
  	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" value="<%=  params[:serial_number_pattern].to_s %>">
  <% else %>
  	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" value="">
  <% end %>
  <input type="submit" value="Search!">
</form>

<div id="results">
  <button class="sort" data-sort="description">
    Sort by description
  </button>
  <ul class="list">
    <% @cars.each do |car| %>
	  <li><%= car.id %>, <%= car.trim_name%>, <%= car.serial_number_pattern %>, <%= car.year %>, <%= car.make %>
	
	  </li>
    <% end %>
  </ul>
</div>

<div id="users">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort by name
  </button>

  <ul class="list">
    <li>
      <h3 class="name">Jonny Stromberg</h3>
      <p class="born">1986</p>
    </li>
    <li>
      <h3 class="name">Jonas Arnklint</h3>
      <p class="born">1985</p>
    </li>
    <li>
      <h3 class="name">Martina Elm</h3>
      <p class="born">1986</p>
    </li>
    <li>
      <h3 class="name">Gustaf Lindqvist</h3>
      <p class="born">1983</p>
    </li>
  </ul>
</div>
<script>
	var options = {
	  valueNames: [ 'name', 'born' ]
	};

	var userList = new List('users', options);
</script>
<script src="assets/list.js"></script>
