<form action="cars" method="get" accept-charset="utf-8">
  <label for="car_serial_number_pattern">Serial Number:</label>

  <% if @cars.length > 0 %>
	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" title="Serial Number must be a 12-digit string of six letters followed by six numbers. Ex: XXRCAV123456" value="">
  <% elsif defined? params[:serial_number_pattern].length %>
	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" title="Serial Number must be a 12-digit string of six letters followed by six numbers. Ex: XXRCAV123456" value="">
  <% else %>
  	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" title="Serial Number must be a 12-digit string of six letters followed by six numbers. Ex: XXRCAV123456" value="">
  <% end %>
  <input type="submit" value="Search!">
</form>


<table id='results' class='tablesorter'>
	<thead>
	  <tr>
		<th>Trim ID</th>
	    <th>Description</th>
	    <th>Serial Number Pattern</th> 
	    <th>Year</th>
	    <th>Make</th>
	    <th>Model</th>		
	  </tr> 
	</thead>
	<tbody>
	  <% @cars.each do |car| %>
	    <tr>
			<td class='trim_id'><%= car.trim_id%></td>
		    <td class='trim_name'><%= car.trim_name%></td>
		    <td class='serial_number_pattern'><%= car.serial_number_pattern %></td>
			<td class='year'><%= car.year %></td>
			<td class='make'><%= car.make %></td>
			<td class='model'><%= car.model %></td>
	    </tr>
	  <% end %>
	</tbody>
</table>
<script type='text/javascript'>
$(document).ready(function() { 
    // call the tablesorter plugin 
    $("#results").tablesorter({ 
        // sort on the first column and third column, order asc 
		// turned this line off because tooltip was failing with no rows in the table
        // sortList: [[0,0],[2,0]] 
    }); 
	
    $(function() {
      $( document ).tooltip({track: 'true'});
    });
	
	// var regexCheckInput = function (string) {
	// 	console.log("hi world!!");
	// };
	
	$('#car_serial_number_pattern').change(function() { 
		// regexCheckInput();
		
	}); 
</script>
