<!-- TODO: split a lot of this up into partials-->

<form action="cars" method="get" accept-charset="utf-8">
  <label for="car_serial_number_pattern">Serial Number:</label>

  <% if @cars.length > 0 %>
	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" title="Serial Number must be a 12-digit string of six letters followed by six numbers. Ex: XXRCAV123456" value="">
	<input type="submit" class="search-button" value="Search!">
  <% elsif defined? params[:serial_number_pattern].length %>
  	<!-- search has been made, but no results returned. -->
	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" title="Serial Number must be a 12-digit string of six letters followed by six numbers. Ex: XXRCAV123456" value="<%= params[:serial_number_pattern] %>">
	<input type="submit" class="search-button" value="Search!"><span class="no-results-message"> NO RESULTS RETURNED :(</span>
  <% else %>
	<!-- base case, on new page load -->
  	<input type="text" name="serial_number_pattern" id="car_serial_number_pattern" title="Serial Number must be a 12-digit string of six letters followed by six numbers. Ex: XXRCAV123456" value="">
	<input type="submit" class="search-button" value="Search!">
  <% end %>
</form>


<table id='results' class='tablesorter'>
	<thead>
	  <tr>
		<th>Trim ID</th>
	    <th>Description</th>
	    <th>Serial Number Pattern</th> 
	    <th>Year</th>
	    <th>Make</th>
	    <th>Model</th>		
	  </tr> 
	</thead>
	<tbody>
	  <% @cars.each do |car| %>
	    <tr>
			<td class='trim_id'><%= car.trim_id%></td>
		    <td class='trim_name'><%= car.trim_name%></td>
		    <td class='serial_number_pattern'><%= car.serial_number_pattern %></td>
			<td class='year'><%= car.year %></td>
			<td class='make'><%= car.make %></td>
			<td class='model'><%= car.model %></td>
	    </tr>
	  <% end %>
	</tbody>
</table>
<script type='text/javascript'>
$(document).ready(function() { 
    // call the tablesorter plugin 
    $("#results").tablesorter({ 
        // sort on the first column and third column, order asc 
		// turned this line off because tooltip was failing with no rows in the table
        // sortList: [[0,0],[2,0]] 
    });
	
    $(function() {
      $( document ).tooltip({track: 'true'});
    });
	
	//focus the cursor in search field by default
	$("#car_serial_number_pattern").focus();
	
	var regexCheckInput = function (string) {
		//returns a bool to check if a given string is a correctly formatted serial number
		//use same logic as a in class method
		pure_string = string.replace(/[^a-zA-Z0-9]/,"");
		if(pure_string.length === string.length) {
			if (pure_string.length === 12) {
				left_six = pure_string.substring(0,6);
				temp_six = left_six.replace(/[^a-zA-Z]/,"");
				if (temp_six.length === 6) {
					right_six = pure_string.substring(6,12);
					temp_six = right_six.replace(/[^0-9]/,"");
					if (temp_six.length === 6) {
						return true;
					}
				}
			}
		}
		
		return false;
	};
	
	//set the search button to disabled to begin
	$(".search-button").prop("disabled", true);
	
	// var processRegexCheckInput = function () {
	// 	if (regexCheckInput($('#car_serial_number_pattern').val())) {
	// 		//good Serial Number, make the field border green and enable the submit button
	// 		$("#car_serial_number_pattern").removeClass("incorrect-input");
	// 		$("#car_serial_number_pattern").addClass("correct-input");
	// 		$(".search-button").prop("disabled", false);
	// 		console.log("correct input");
	// 	} else {
	// 		//bad Serial number, make the field border red and leave the submit button disabled
	// 		console.log("incorrect input");
	// 		$("#car_serial_number_pattern").removeClass("correct-input");
	// 		$("#car_serial_number_pattern").addClass("incorrect-input");
	// 		$(".search-button").prop("disabled", true);
	// 	}
	// }
	
	//this is always checking to see if the user has or has not entered correct input
	// $('#car_serial_number_pattern').keyup(processRegexCheckInput);
	$('#car_serial_number_pattern').bind("keyup change", function() {
		if (regexCheckInput($('#car_serial_number_pattern').val())) {
			//good Serial Number, make the field border green and enable the submit button
			$("#car_serial_number_pattern").removeClass("incorrect-input");
			$("#car_serial_number_pattern").addClass("correct-input");
			$(".search-button").prop("disabled", false);
			console.log("correct input");
		} else {
			//bad Serial number, make the field border red and leave the submit button disabled
			console.log("incorrect input");
			$("#car_serial_number_pattern").removeClass("correct-input");
			$("#car_serial_number_pattern").addClass("incorrect-input");
			$(".search-button").prop("disabled", true);
		}
	});
});
</script>
